<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Edit Product Page</title>
  </head>

  <body>
    <header>
      <h1>Edit Product Page</h1>
      <a href="/products"
        ><button class="btn-grad">Go back to product list</button></a
      >
    </header>
    <main class="main-show">
      <div class="parent-white-show">
        <div class="card-yellow-edit">
          <form action="/products/<%= product._id %>?_method=PUT" method="POST">
            <p>
              Name:
              <input type="text" name="name" value="<%= product.name %>" />
            </p>
            <p>
              Dimensions:
              <input
                type="text"
                name="description"
                value="<%= product.dimensions %>"
              />
            </p>
            <p>
              Speed:
              <input
                type="text"
                name="description"
                value="<%= product.speed %>"
              />
            </p>
            <p>
              Flight Time:
              <input
                type="text"
                name="description"
                value="<%= product.flight_time %>"
              />
            </p>
            <p>
              Flight distance:
              <input
                type="text"
                name="price"
                value="<%= product.flight_distance %>"
              />
            </p>
            <p>
              Price:
              <input type="text" name="qty" value="<%= product.price %>" />
            </p>
            <p>
              Quantity:
              <input type="text" name="qty" value="<%= product.qty %>" />
            </p>
            <p>
              Sold: <input type="checkbox" name="Sold" <%= product.sold ?
              'checked' : '' %>
            </p>
            <input type="submit" value="Edit Product" />
          </form>
        </div>
      </div>
    </main>
    <footer>
      <p>© 2021</p>
      <p>Made with <span>❤</span> by Anton Zvontsov</p>
    </footer>
  </body>
</html>
