<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Product List</title>
  </head>

  <body>
    <header>
      <h1>My Products List</h1>
      <a href="/products/new"
        ><button class="btn-grad">Add a New Product</button></a
      >
    </header>
    <main>
      <% products.forEach(elem => { %>
      <div class="parent-white">
        <div class="card-yellow">
          <a href="/products/<%= elem._id %>"> <%= elem.name %> </a>
          <p href="/products/<%= elem.price %>">Price: $<%= elem.price %></p>
          <img src="<%= elem.img %>" alt="<%= elem.img %>" />
        </div>
      </div>
      <% }) %>
    </main>
    <footer>
      <p>© 2021</p>
      <p>Made with <span>❤</span> by Anton Zvontsov</p>
    </footer>
  </body>
</html>
