<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>See Product Details</title>
  </head>
  <body>
    <header>
      <h1>Product Specs</h1>
      <a href="/products"
        ><button class="btn-grad">Go back to product list</button></a
      >
    </header>
    <main class="main-show">
      <div class="parent-white-show">
        <div class="card-yellow-show">
          <h1>Name: <%= product.name %></h1>
          <p>Dimensions: <%= product.dimensions %></p>
          <p>Speed: <%= product.speed %></p>
          <p>Flight Time: <%= product.flight_time %></p>
          <p>Flight Distance: <%= product.flight_distance %></p>
          <p>Price: $<%= product.price %></p>
          <p>Quantity: <%= product.qty %></p>
          <div class="del-edit">
            <form
              style="display: inline; margin-right: 1rem"
              action="/products/<%= product._id %>?_method=DELETE"
              method="POST"
            >
              <input type="submit" value="DELETE" />
            </form>
            <a
              style="margin: 0 1rem 0 0"
              href="/products/<%= product._id %>/edit"
              ><button>EDIT</button></a
            >
          </div>
        </div>

        <div class="img-show">
          <img src="<%= product.img %>" alt="<%= product.name %>" />
        </div>
      </div>
    </main>
  </body>
</html>
