<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
    <title>See Product Details</title>
  </head>
  <body>
    <header>
      <h1>Product Specs</h1>
      <a href="/products"
        ><button class="btn-grad">Go back to product list</button></a
      >
    </header>
    <main class="main-show">
      <div class="parent-white-show">
        <div class="card-yellow-show">
          <h1>Name: <%= product.name %></h1>
          <p>Dimensions: <%= product.dimensions %></p>
          <p>Speed: <%= product.speed %></p>
          <p>Flight Time: <%= product.flight_time %></p>
          <p>Flight Distance: <%= product.flight_distance %></p>
          <p>Price: $<%= product.price %></p>

          <div class="del-edit">
            <form
              style="display: inline; margin-right: 1rem"
              action="/products/<%= product._id %>?_method=DELETE"
              method="POST"
            >
              <input type="submit" value="DELETE" />
            </form>
            <a href="/products/<%= product._id %>/edit">Edit product</a>
          </div>
          <div>
            <p>In Stock: <%= product.qty %></p>
            <p><%= product.sold %></p>
            <form
              style="buy"
              action="/products/<%= product._id%>/buy"
              method="POST"
            >
              <input <%= product.qty ? '' : 'disabled' %> type="submit"
              value="<%= product.qty ? 'BUY': 'OUT OF STOCK' %>">
            </form>
          </div>
        </div>

        <div class="img-show">
          <img src="<%= product.img %>" alt="<%= product.name %>" />
        </div>
      </div>
    </main>
    <footer><%- include('./partials/footer.ejs')%></footer>
  </body>
</html>
